<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-image1"></div>
			<div class="card-text">
				<span class="date">Data de hoje</span>
				<h2>Alimentos</h2>
				<p>Esta é a categoria que mais possui negócios cadastrados</p>
			</div>
			<div class="card-stats"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-image2"></div>
			<div class="card-text">
				<span class="date">5642</span>
				<h2>Negócios</h2>
				<p>Esse é o total de negócios cadastrados</p>
			</div>
			<div class="card-stats"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-image3"></div>
			<div class="card-text">
				<span class="date">Data de hoje</span>
				<h2>Rio Pomba</h2>
				<p>Esta é a cidade com mais negócios cadastrados</p>
			</div>
		</div>
	</div>
</div>